node_modules
.env
.env.*
.git
.gitignore
/storage/*.key
/storage/debugbar
/storage/*.log
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/tests
/.vscode
.idea
npm-debug.log
composer.phar
